<div class="container">
  <div class="page-header">
    <h1>Sports</h1>
    <!-- players search -->
    <%= form_tag sports_path, method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :sports, params[:sports], placeholder: "Find sports by name", class: "form-control" %>
      </div>
      <%= submit_tag 'Search', class: 'btn btn-default' %>
    <% end %>
  </div>

  <% if params[:sports] %>
    <h2>Search Results</h2>
    <% results = @sports.count %>
    <p><%= results %> <%= results == 1 ? "match" : "matches" %> found</p>
  <% else %>
    <h2>Viewing All Sports</h2>
  <% end %>
  <% @sports.each do |sport| %>
    <%= link_to sport.name, sport_path(sport) %><br>
  <% end %>
</div>
