<h1><%= @sport.name %></h1>
<h6><%= link_to "Edit", edit_sport_path(@sport) %></h6>

<div class="row">
  <div class="col-md-6">
    <img src="<%= @sport.image %>" class="img-responsive">
  </div>
  <div class="col-md-6">
    <h3>Upcomimg Games</h3>
    <ul>
      <% @sport.games.each do |game| %>
        <% if game.end > Time.now %>
          <li><%= link_to "#{game.title} (#{game.pretty_start})", game_path(game) %><br></li>
        <% end %>
      <% end %>
    </ul>
    <h3>Game History</h3>
    <ul>
      <% @sport.games.each do |game| %>
        <% if game.end < Time.now %>
          <li><%= link_to "#{game.title} (#{game.pretty_end})", game_path(game) %><br></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
