<div class="jumbotron">
  <div class="container">
    <h1>Find your game</h1>
    <p>We match players by location, sport, and skill level</p>
    <p><a class="btn btn-primary btn-lg" href="<%= new_game_path %>" role="button">Create a Game</a></p>
  </div>
</div>

<!-- GRID SYSTEM - NUMBER OF RESULTS SHOWN CAN BE ADJUSTED IN WelcomeController -->

<h1>Upcoming Games</h1>
<div class="row">
  <% @upcoming_games.each do |game| %>
      <div class="col-xs-4 col-md-3">
        <a href="<%= game_path(game) %>" class="thumbnail">
          <img src="http://via.placeholder.com/250x250">
          <h5 class="thumbnail-caption-top"><%= game.pretty_start %></h5>
          <h3 class="thumbnail-caption-bottom"><%= game.title %></h3>
        </a>
      </div>
  <% end %>
</div>

<h1>Popular Games</h1>
<div class="row">
  <% @popular_games.each do |game| %>
      <div class="col-xs-4 col-md-3">
        <a href="<%= game_path(game) %>" class="thumbnail">
          <img src="http://via.placeholder.com/250x250">
          <h5 class="thumbnail-caption-top"><%= "#{game.players.count} players going" %></h5>
          <h3 class="thumbnail-caption-bottom"><%= game.title %></h3>
        </a>
      </div>
  <% end %>
</div>

<h1>Popular Sports</h1>
<div class="row">
  <% @popular_sports.each do |sport| %>
      <div class="col-xs-4 col-md-3">
        <a href="<%= sport_path(sport) %>" class="thumbnail">
          <img src="http://via.placeholder.com/250x250">
          <h5 class="thumbnail-caption-top"><%= "#{sport.games.count} total games" %></h5>
          <h3 class="thumbnail-caption-bottom"><%= sport.name %></h3>
        </a>
      </div>
  <% end %>
</div>
