<%= form_for(@game) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start %>
    <%= f.datetime_local_field :start, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :end %>
    <%= f.datetime_local_field :end, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sport_id, "Sport" %>
    <%= f.collection_select :sport_id, Sport.all, :id, :name, {prompt: "Select a sport"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :location_id, "Location" %>
    <%= f.collection_select :location_id, Location.all, :id, :title, {prompt: "Select a location"}, {class: "form-control"} %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
