<%= form_for @player, :html => {:multipart => true} do |f| %>
<div class="form-group">
  <%= f.file_field :avatar, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "name", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :skill_level %>
  <%= f.select :skill_level, [['Beginner', 'Beginner'],['Intermediate','Intermediate'],['Collegiate','Collegiate'], ['Professional','Professional']], placeholder: "Skill Level", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :birthday %>
  <%= f.datetime_local_field :birthday, placeholder: "birthday", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :location %>
  <%= f.text_field :location, placeholder: "location", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :phone_number %>
  <%= f.number_field :phone_number, placeholder: "phone number", class: "form-control" %>
</div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password", class: "form-control" %>
  </div>
  <%= f.submit "Sign Up", class: "btn btn-default" %>
<% end %>
