
<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <% if @player.avatar_url  %>
          <img src="<%= @player.avatar_url.to_s %>" alt="profile_image">
        <% end %>
        <div class="caption">
          <h3><%= @player.name %></h3>

          <% if current_player && @player.id == current_player.id %>
            <%= link_to "Edit", edit_player_path(@player) %>
          <% end %>
          <p>
          email: <%= @player.email %><br>
          skill level: <%= @player.skill_level %><br>
          birthday: <%= @player.birthday %><br>
          location: <%= @player.location %><br>
          phone number: <%= @player.phone_number %><br>
          </p>
          <div class="row">
            <div class="col-md-3">
            <%= form_tag upvote_path do %>
              <button type="submit" class="btn btn-default btn-lg" value="<% @player.up_points %>">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> <%= @player.up_points %> </span>
              </button>
              <%= hidden_field_tag :id, @player.id %>
            <% end %>
          </div>

            <div class="col-md-3">
            <%= form_tag downvote_path do %>
            <button type="submit" class="btn btn-default btn-lg" value="<% @player.down_points %>">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> <%= @player.down_points %> </span>
            </button>
            <%= hidden_field_tag :id, @player.id %>
            <% end %>
          </div>
        </div>


<% if logged_in? %>
  <% if @player.id == current_player.id %>
    <p>Your Profile</p>
  <% elsif UserFriend.find_by(player_id: current_player.id, friend: @player.id) %>
    <h6>You and <%= @player.name %> are friends </h6>
  <% else %>
    <%= form_for(@user_friend) do |f| %>
      <%= f.hidden_field :player_id, :value => current_player.id %>
      <%= f.hidden_field :friend, :value => @player.id %>
      <%= f.submit "Add Friend" %>
    <% end %>
  <% end %>
<% end %>


<h3>Friends</h3>
<% if @player.user_friends %>
  <% @player.user_friends.each do |friend| %>
  <%= link_to Player.find(friend.friend).name, player_path(Player.find(friend.friend))  %><br>
<% end %>

<% end %>

<h2>Games</h2>
<h3>Upcoming</h3>
<% if @player.games %>
  <% @player.games.each do |game| %>
  <% if game.end > Time.now %>
  <p>
  <%= link_to game.title, game_path(game) %><br>
  <%= game.description %><br>
  <%= game.start %><br>
  <%= game.end %><br>
  </p>
   <% end %>
 <% end %>
<% end %>

<h3>Game History</h3>
<% if @player.games %>
  <% @player.games.each do |game| %>
  <% if game.end < Time.now %>
  <p><%= link_to game.title, game_path(game) %></p><br>
   <% end %>
 <% end %>
<% end %>


</div>

</div>
</div>




  <div class="col-md-8">
    <h3>Create a post...</h3>
    <%= form_for(@post) do |f| %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "Content", class: "form-control" %>
      </div>
      <%= f.hidden_field :player_id, :value => @player.id %>
      
      <%= f.submit class: "btn btn-default" %>
    <% end %>



  <% if @player.posts %>
    <% sorted_posts = @player.posts.sort_by{|post| post.created_at }.reverse %>
    <% sorted_posts.each do |post| %><br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= post.title %></h3>
      </div>
      <div class="panel-body">
        <p>Posted by: <%= post.poster.name %></p>
        <p><%= post.content %></p>
      </div>
      <div class="panel-footer">
        <%= post.created_at %>
      </div>
    </div>
    <% end %>
  <% end %>








</div>

</div>
