<!DOCTYPE html>
<html>
  <head>
    <title>Pickupsports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <%= form_tag players_path, method: 'get', class: 'navbar-form navbar-right', role: 'search' do %>
          <div class="form-group">
            <%= text_field_tag :players, params[:players], placeholder: "Find players", class: "form-control" %>
          </div>
          <%= submit_tag 'Search', class: 'btn btn-default' %>
        <% end %>

        <% if logged_in? %>
          <p class="navbar-text navbar-right">
            <%= "Hi, #{current_player.email}!" %>
            <%= link_to "Log Out", logout_path, method: :delete %>
          </p>
        <% else %>
          <%= form_tag login_path, class: 'navbar-form navbar-right' do %>
            <div class="form-group">
              <%= email_field_tag :email, nil, placeholder: "email address", class: "form-control" %>
              <%= password_field_tag :password, nil, placeholder: "password", class: "form-control" %>
              <%= submit_tag "Log In", class: 'btn btn-default' %>
            </div>
          <% end %>
        <% end %>

          <% if has_current_location? %>
            <p class="navbar-text navbar-right">
              <%= "Looking for games around, #{current_location.address}" %>
              <%= link_to "Change Location", loc_change_path, method: :delete %>
            </p>
          <% else %>
            <%= form_tag loc_input_path, class: 'navbar-form navbar-right' do %>
              <div class="form-group">
                <%= text_field_tag :address, nil, placeholder: "address", class: "form-control" %>
                <%= submit_tag "Enter Location", class: 'btn btn-default' %>
              </div>
            <% end %>
        <% end %>

      </div>
    </nav>
    <!-- /navbar -->

    <% flash.each do |key, val| %>
      <div class="alert alert-<%= key %>"><%= val %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
