<!DOCTYPE html>
<html>
  <head>
    <title>Pickupsports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= "Hi, #{current_player.email}!" %>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
      <%= form_tag login_path do %>
        <%= label_tag :email %>
        <%= email_field_tag :email %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag "Log In" %>
      <% end %>
    <% end %>
    <% flash.each do |key, val| %>
      <div class="alert alert-<%= key %>"><%= val %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
